# .github/workflows/security.yml
name: Security Scan

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  zap-scan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Start app
      run: |
        docker-compose up -d
        # Ожидание запуска frontend
        for i in {1..30}; do
          if curl -s -o /dev/null -w "%{http_code}" http://localhost:8888 | grep -q "200"; then
            echo "Frontend is up."
            break
          fi
          sleep 5
          echo "Waiting for frontend... $i"
        done
        # Ожидание запуска backend
        for i in {1..30}; do
          if curl -s -o /dev/null -w "%{http_code}" http://localhost:9999 | grep -q "200"; then
            echo "Backend is up."
            break
          fi
          sleep 5
          echo "Waiting for backend... $i"
        done
    
    - name: Quick ZAP scan
      run: |
        docker run --add-host=host.docker.internal:host-gateway \
          -i owasp/zap2docker-stable zap-baseline.py \
          -t http://host.docker.internal:8888 \
          -r report.html \
          -I
    
    - name: Save report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: zap-report
        path: report.html
    
    - name: Stop app
      if: always()
      run: docker-compose down
